#headline h1, h2 {
  text-shadow: 4px 4px rgba(20, 80, 111, 0.57);
}

#eight-oh-eight-drummer {
  display: none;
}

#rosh-drummer {
  display: none;
}

 .container {
    position: relative;
    /* z-index: 2; */

}
.demo_wrap img {
    position: absolute;
    left: 0;
    top: 0;
    height: auto;
    background-size: cover;
    min-height: 100vh;
    min-width: 100vw;
}

.playing {
  transform:scale(1.2);
  border-color: white;
  box-shadow: 0 0 10px #00baff;
}

.test {
  color:red;
}

.key {
  transition: all 0.1s;
}

.dropdown {
  z-index: 100;
}

#kick:active {
  transform:scale(1.2);
  border-color: white;
  box-shadow: 0 0 10px #00baff;
}

#snare:active {
  transform:scale(1.2);
  border-color: white;
  box-shadow: 0 0 10px #00baff;
}

#hi-hat:active {
  transform:scale(1.2);
  border-color: white;
  box-shadow: 0 0 10px #00baff;
}

#clap:active {
  transform:scale(1.2);
  border-color: white;
  box-shadow: 0 0 10px #00baff;
}

#tom1:active {
  transform:scale(1.2);
  border-color: white;
  box-shadow: 0 0 10px #00baff;
}

#crash:active {
  transform:scale(1.2);
  border-color: white;
  box-shadow: 0 0 10px #00baff;
}
